.experience{


width:100%;


min-height:100vh;


padding:

clamp(100px,8vw,120px)

clamp(20px,6vw,100px);



background:

radial-gradient(

circle at top,

#172554,

#020617

);



position:relative;


overflow:hidden;


box-sizing:border-box;


}




.experience-glow{


position:absolute;


width:700px;


height:700px;


right:-300px;


top:-300px;



background:

radial-gradient(

circle,

cyan,

transparent 70%

);



filter:blur(120px);


opacity:.25;


}




/* TITLE */


.experience h1{


font-size:

clamp(45px,6vw,90px);



font-weight:1000;



letter-spacing:

clamp(5px,1vw,18px);



text-align:center;



color:white;



margin:

0 0 clamp(50px,8vw,120px);



text-shadow:

0 0 50px cyan;


}






/* WRAPPER */


.career-wrapper{


width:100%;


max-width:1300px;


margin:auto;


position:relative;


}





/* CENTER LINE */


.timeline-line{


position:absolute;


top:0;


left:0%;


transform:translateX(-50%);



width:6px;


height:100%;



background:

rgba(0,255,255,.15);



border-radius:20px;


}





.timeline-line div{


width:100%;


background:

linear-gradient(

180deg,

cyan,

#8b5cf6,

cyan

);



box-shadow:

0 0 30px cyan;


}







/* ITEM */


.career-item{


width:100%;


display:flex;


align-items:center;



margin-bottom:

clamp(70px,10vw,160px);



position:relative;


gap:60px;



}





.career-item.left{


justify-content:flex-start;


}



.career-item.right{


justify-content:flex-end;


}







/* DATE */


.career-date{


width:40%;



font-size:

clamp(20px,3vw,40px);



font-weight:1000;



color:white;



text-align:center;



text-shadow:

0 0 35px cyan;



word-break:break-word;


}







/* CARD */


.career-box{


width:

min(520px,45%);



padding:

clamp(25px,3vw,45px);



border-radius:

35px;



background:

rgba(255,255,255,.08);



border:

1px solid rgba(255,255,255,.25);



backdrop-filter:

blur(25px);



box-shadow:

0 30px 80px rgba(0,0,0,.5);



overflow:hidden;


}





.career-box h2{


font-size:

clamp(25px,3vw,42px);



color:white;



margin:0 0 20px;



word-break:break-word;


}





.career-box p{


font-size:

clamp(15px,1.5vw,19px);



line-height:1.8;



color:#dbeafe;



word-break:break-word;


}





/* BIG LOGO BUTTON */


.career-button{

/* 
margin-top:0px;



width:

clamp(130px,12vw,190px);



height:

clamp(130px,12vw,190px);



border-radius:10%;



border:none;



display:flex;


align-items:center;


justify-content:center;



cursor:pointer;







transition:.4s;



overflow:hidden;

*/
width:90%;
background:

rgba(255,255,255,.12);


box-shadow:

0 0 50px cyan;
} 



.career-button:hover{

overflow:hidden;
transform:

scale(1.12);



box-shadow:

0 0 100px cyan;
transition:.4s;


}





.career-button img{


width:100%;


height:100%;



object-fit:contain;



max-width:90%;


max-height:90%;
cursor:pointer;

}








/* TABLET */


@media(max-width:1000px){



.timeline-line{


left:25px;


}



.career-item,

.career-item.left,

.career-item.right{


flex-direction:column;


align-items:flex-start;


padding-left:50px;



}



.career-date{


width:100%;


text-align:left;


}



.career-box{


width:80%;


}




}





/* MOBILE */


@media(max-width:600px){



.experience{


padding:

px 40px;


}



.experience h1{


font-size:40px;


}





.timeline-line{


left:5px;


width:4px;


}





.career-item,


.career-item.left,


.career-item.right{


padding-left:45px;


margin-bottom:70px;


}




.career-box{


padding:25px;


border-radius:25px;


}




.career-box h2{


font-size:23px;


}




.career-box p{


font-size:14px;


}




.career-button{


/* width:px; */


/* height:px; */


}



}






/* SMALL PHONE */


@media(max-width:380px){



.career-button{


width:110px;


height:110px;


}



.career-date{


font-size:18px;


}


}