.App {
  text-align: center;
  background-opacity:0%
}
.project{
  margin-bottom:10%;
  outline-bottom:10%;
}
.App-header {
  background-color: #205eda;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loading-wave {
  width: 8%px;
  height: 4%px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:24%;
}

.loading-bar {
  width: 20px;
  height: 10px;
  margin: 0 5px;
  background-color: #3498db;
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 10px;
  }
}
body {

margin:0;

padding:0;

background:#020617;

color:white;

font-family:"Poppins",sans-serif;

}


html,body,#root{

    width:100%;
    max-width:100%;

    overflow-x:hidden;

}
section {

margin:0;

}



