.back-to-top{


position:fixed;


right:40px;


bottom:40px;



z-index:9999;



}



.button1{


width:55px;


height:55px;



border-radius:50%;



background:#020617;



border:

2px solid cyan;



display:flex;


align-items:center;


justify-content:center;



cursor:pointer;



box-shadow:


0 0 25px cyan;



transition:.4s;



}



.svgIcon{


width:18px;



}



.svgIcon path{


fill:white;



}




.button1:hover{


transform:


translateY(-10px);



box-shadow:


0 0 50px cyan;



background:#03B0FD;



}



@media(max-width:600px){



.back-to-top{


right:20px;


bottom:20px;



}



.button1{


width:48px;


height:48px;



}




.svgIcon{


width:15px;



}



}