.projects-section{


min-height:100vh;

/* padding:120px 40px; */

/* overflow:hidden; */

/* background:

radial-gradient(circle at top,#16213e,#000); */



box-sizing:border-box;
width:100%;


padding:120px 40px;


/* margin-top:10%;


margin-bottom:10%; */


background:


radial-gradient(

circle at top,

#172554,

#020617

);


box-sizing:border-box;


overflow:hidden;


}





.projects-section h1{


font-family:"Poppins",sans-serif;


font-size:60px;


font-weight:1000;


letter-spacing:10px;


text-align:center;


color:white;


/* margin-bottom:120px; */



text-shadow:


0 0 25px #03B0FD;


}




/* GRID */


.projects-grid{


max-width:1500px;


margin:auto;


display:grid;


grid-template-columns:

repeat(2,1fr);



gap:60px;


}





/* CARD */


.project-card{


height:720px;


background:


rgba(255,255,255,.06);



border:

1px solid rgba(3,176,253,.4);



border-radius:30px;


overflow:hidden;



display:flex;


flex-direction:column;



backdrop-filter:blur(15px);



transition:.5s;



box-shadow:


0 0 40px rgba(3,176,253,.15);



}





.project-card:hover{


transform:


translateY(-20px);



border-color:#03B0FD;



box-shadow:


0 0 60px rgba(3,176,253,.6);



}







/* IMAGE */


.project-image{


height:260px;


overflow:hidden;


}





.project-image img{


width:100%;


height:100%;


object-fit:cover;



transition:.6s;


}





.project-card:hover img{


transform:

scale(1.12);


}






/* CONTENT */


.project-content{


padding:35px;



display:flex;


flex-direction:column;


height:100%;



}





.project-content h2{


font-size:32px;


font-weight:900;


color:white;


margin-bottom:20px;



}





.project-description{


height:120px;


font-size:17px;


line-height:1.7;


color:#cbd5e1;


}






/* TECHNOLOGY */


.tech-container{


display:flex;


flex-wrap:wrap;


gap:12px;



margin-top:25px;


}





.tech-tag{


padding:8px 15px;


border-radius:25px;



background:

rgba(3,176,253,.15);



border:

1px solid rgba(3,176,253,.5);



font-size:13px;


color:white;



transition:.3s;


}




.tech-tag:hover{


background:#03B0FD;


color:black;



transform:

translateY(-5px);



}





/* BUTTON */


.project-content button{


margin-top:auto;



height:55px;



border-radius:30px;



border:

1px solid cyan;



background:

transparent;



color:white;


font-size:18px;


cursor:pointer;



transition:.4s;



}





.project-content button span{


margin-left:10px;


font-size:25px;


}





.project-content button:hover{


background:#03B0FD;



color:black;



box-shadow:

0 0 30px cyan;



}






/*
TABLET
*/


@media(max-width:1000px){


.projects-grid{


grid-template-columns:1fr;


}



.project-card{


height:auto;


}



.project-description{


height:auto;


margin-bottom:30px;


}



}







/*
MOBILE
*/


@media(max-width:600px){



.projects-section{


padding:80px 20px;


}




.projects-section h1{


font-size:42px;


}



.project-content h2{


font-size:26px;


}



.project-description{


font-size:15px;


}




}